body {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
}

button.header-button {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}

.header,
.section-one {
    background: #1F2937
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 16rem;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.section-one {
    padding: 4rem 16rem;
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color:#E5E7EB
}

.img {
    display: flex;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    background: grey;
    color: #F9FAF8;
    flex-shrink: 0;
    width: 600px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 52px;
}

.img-placeholder {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid #3882F6;
    border-radius: 18px;
    margin-bottom: 20px;
}

.section-two {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
    margin-bottom: 100px;
}

.text {
    color: grey;
    font-size: 18px;
}

.section-three {
    width: auto;
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 750px;
}

.author {
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
}